if SHIELD_CYGNUS463_RIGHT

config ZMK_KEYBOARD_NAME
    default "cygnus463"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CYGNUS463_LEFT || SHIELD_CYGNUS463_RIGHT

config ZMK_SPLIT
    default y

endif
